﻿
@model Book
@{
    ViewData["Title"] = "AddBook";
}
<br />
<br />

<form asp-controller="Home" asp-action="AddBook" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Name" class="form-control" /></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="Mobile"></span>
        <label asp-for="Mobile" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Mobile" class="form-control" type="tel" /></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Email" class="form-control" /></div>
    </div>

    <div class="form-group">
            <label asp-for="Treatment.TreatmentTitle" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="TreatmentId" asp-items="@(new SelectList(@ViewBag.ListOfItems,"Id","TreatmentTitle"))" class="form-control"></select>
            </div>
        </div>

    <div class="form-group">

        <label asp-for="TimeSlot.TimeSlotTitle" class="col-md-2 control-label"> </label>
        <div class="col-md-5">
            <select asp-for="TimeSlotId" asp-items="@(new SelectList(@ViewBag.ListOfTimes,"Id","TimeSlotTitle"))" class="form-control"></select>

        </div>
    </div>


    <div class="form-group">
        <span asp-validation-for="BookedDate"></span>
        <label asp-for="BookedDate" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="BookedDate" class="form-control" type="date" /></div>
    </div>


    <div class="form-group">
        <span asp-validation-for="Note"></span>
        <label asp-for="Note" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Note" class="form-control" type="text" /></div>
    </div>
    <div class="form-group">
        <span asp-validation-for="IsDeleted"></span>
        <div class="col-md-5"> <input asp-for="IsDeleted" class="form-control" value=false type="hidden" /></div>
    </div>
    <div class="col-md-offset-2 col-md-5">
        <div> <input type="submit" class="btn btn-primary" value="Book" /></div>
    </div>
</form>