﻿
@model Book
@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<form class="form-horizontal" role="form">

    <div class="form-group">
        <div class="col-md-5"> <input asp-for="BookingId" class="form-control" type="hidden" readonly /></div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Name" class="form-control" readonly /></div>
    </div>

    <div class="form-group">
        <label asp-for="Mobile" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Mobile" class="form-control" readonly /></div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Email" class="form-control" readonly /></div>
    </div>

    <div class="form-group">
        <label asp-for="Treatment.TreatmentTitle" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="TreatmentId" asp-items="@(new SelectList(@ViewBag.ListOfItems,"Id","TreatmentTitle"))" class="form-control" readonly> </select>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="BookedDate" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="BookedDate" class="form-control" type="date" readonly /></div>
    </div>

    <div class="form-group">
        <label asp-for="TimeSlot.TimeSlotTitle" class="col-md-2 control-label"> </label>
        <div class="col-md-5">
            <select asp-for="TimeSlotId" asp-items="@(new SelectList(@ViewBag.ListOfTimes,"Id","TimeSlotTitle"))" class="form-control" readonly></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Note" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Note" class="form-control" type="text" readonly /></div>
    </div>
    <div class="form-group">
        <div class="col-md-5"> <input asp-for="IsDeleted" class="form-control" value=false type="hidden" readonly /></div>
    </div>
    <div class="col-md-offset-2 col-md-5">
        <div> <input type="submit" asp-controller="Home" asp-action="Index" class="btn btn-primary" value="Back To Home" /></div>

    </div>
</form>