﻿@model HomeViewModel
<h2> @Model.Title</h2>
<div>
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" name="SearchString">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" value="search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
<div>
  <table class="table">
    <thead >
        <tr class="row">
            <th>ID</th>
            <th>Day</th>
            <th>Time</th>
            <th> Name</th>
            <th>Mobile</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Book in Model.Books)
        {

            <tr class="row">
                <td>@Book.BookingId</td>
                <td>@Book.BookedDate.ToShortDateString()</td>
                <td>@Book.TimeSlotId</td>
                <td>@Book.Name</td>
                <td>@Book.Mobile</td>
                <td>@Book.Email</td>
                <td> <a asp-controller="Home" asp-action="Details" asp-route-id="@Book.BookingId"><img src="~/images/information-2-512.png" class="img-circle" height="20" width="20"/></a></td>
                <td>  <a asp-controller="Home" asp-action="UpdateBook" asp-route-id="@Book.BookingId"><img src="~/images/edit-icon-pencil_244589.png"  class="img-circle" height="20" width="20"/></a> </td>
                <td>  <a asp-controller="Home" asp-action="DeleteBook" asp-route-id="@Book.BookingId"><img src="~/images/delete-512.png" class="img-circle" height="20" width="20"/></a> </td>
            </tr>
        }


    </tbody>
    </table>
</div>