﻿
@model Book
@{
    ViewData["Title"] = "Update Book";
}
<br />
<br />
<form asp-controller="Home" asp-action="UpdateBook" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <span asp-validation-for="BookingId"></span>
        <div class="col-md-5"> <input asp-for="BookingId" class="form-control" type="hidden" readonly/></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Name" class="form-control" /></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="Mobile"></span>
        <label asp-for="Mobile" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Mobile" class="form-control" readonly /></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Email" class="form-control" readonly /></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="TreatmentId"></span>
        <label asp-for="TreatmentId" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="TreatmentId" class="form-control" /></div>
    </div>


    <div class="form-group">
        <span asp-validation-for="BookedDate"></span>
        <label asp-for="BookedDate" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="BookedDate" class="form-control" type="date" /></div>
    </div>

    <div class="form-group">
        <span asp-validation-for="TimeSlotId"></span>
        <label asp-for="TimeSlotId" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="TimeSlotId" class="form-control" /></div>
    </div>


    <div class="form-group">
        <span asp-validation-for="Note"></span>
        <label asp-for="Note" class="col-md-2 control-label"></label>
        <div class="col-md-5"> <input asp-for="Note" class="form-control" type="text" /></div>
    </div>
    <div class="form-group">
        <span asp-validation-for="IsDeleted"></span>
        <div class="col-md-5"> <input asp-for="IsDeleted" class="form-control" value=false type="hidden" /></div>
    </div>
    <div class="col-md-offset-2 col-md-5">
        <div> <input type="submit" class="btn btn-danger" value="Update"  style="margin-right: 5px"/><input type="submit" asp-controller="Home" asp-action="Index" class="btn btn-primary" value="Cancel" style="margin-left: 5px" /></div>

    </div>
</form>